html { 
    padding:0; 
    margin:0; 
    background-image:url('img/dojo.jpeg'); 
    background-size:100%; 
    background-repeat:none; 
    /* border:5px dashed white; */
}

body {
    padding:0; 
    margin:0; 
    /* border: 5px dashed blue; */
}

.hide {
    display: none;
}

.title {
    padding: 2.5% 0; margin: 0;
    color: red;
    /* border:5px solid green; */
    text-align: center;
    font-size: 10vh;
}

.button {
    /* border:5px solid red; */
    display:flex;
    justify-content:center;
    padding:0; 
    margin:auto;
    font-size: 7.5vh;
    text-align:center;
    width:50%;
}
.button:hover{ 
    color: red; 
}

.columnize {
    display: flex;
    justify-content:space-between;
}
.player {
    /* border: 5px solid blue; */
    padding:0; 
    margin:0;
    height:55vh;
    width:25%;
    float:center;
}

.playerText {
    padding:0; 
    margin:0;
    font-size:5vh;
    text-align: center;
    /* border: 5px dashed yellow; */
}

h2 {
    background: center no-repeat;
    background-size: 100%;
    /* border:2.5px dashed black; */
    margin:0;
    padding:0;
    height:30%;
    width:30%;
}

.h2:hover {
    height:35%;
    width:35%;
}

.canvas {
    /* border:5px solid purple;  */
    padding:0; 
    margin:0;
    height:55vh;
    width:50%;
}
