html { 
    padding:0; 
    margin:0; 
    background-image:url('img/dojo.jpeg'); 
    background-size:100%; 
    background-repeat:none; 
    font-family: 'Permanent Marker', cursive;
}

body {
    padding:0; 
    margin:0; 
}

.hide {
    display: none;
}

.title {
    padding: 2.5% 0; margin: 0;
    color: red;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
    text-align: center;
    font-size: 10vh;
}

.button {
    display:flex;
    justify-content:center;
    padding:0; 
    margin:auto;
    font-size: 7.5vh;
    text-align:center;
    width:50%;
    text-shadow: 0px 0px 5px rgba(255, 0, 0, 1);
}
.button:hover{ 
    color: red;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}

.columnize {
    display: flex;
    justify-content:space-between;
}
.player {
    padding:0; 
    margin:0;
    height:55vh;
    width:25%;
    float:center;
}

.playerText {
    padding:0; 
    margin:0;
    font-size:5vh;
    text-align: center;
}

h2 {
    background: center no-repeat;
    background-size: 100%;
    margin:0;
    padding:0;
    height:25%;
    width:25%;
}

.h2:hover {
    width:30%;
}

.canvas {
    padding:0; 
    margin:0;
    height:55vh;
    width:50%;
}
