html { padding: 0 ; margin: 0; background-image: url('media/dojo.jpeg'); background-size: 100%; background-repeat: none; }
body { padding: 0; margin: 0; }

.hide {
    display: none;
}

.title {
    padding: 0; margin: 2.5vh 0;
    color: red;
    border:1px solid green;
    text-align: center;
    font-size: 10vh;
}

button.button {
    border:1px solid red;
    width: 100%;
    padding: 1.25vh; margin: 2.5vh auto;
    font-size: 7.5vh;
    text-align: center;
}
.button:hover{ color: yellow; }

.column {
    display: inline-flex;
}

.player {
    border: 1px solid blue;
    padding: 0; margin: 0;
    height: 55vh;
    width: 35vh;
}

.playerText {
    border-bottom:1px solid black;
    padding: 0; margin: 2.5vh;
    font-size: 5vh;
    text-align: center;
}

.canvas {
    border: 1px solid gold;
    padding: 0; margin: 5vh 0;
    height: 55vh;
    width: 82.5vh;
}
